
body {
    background-color: #222222;
    color: #DDDDDD;
}
a {
    color: #91D2FA;
}
th {
    text-align: center;
}
.col-header {
    border: 2px grey solid;
}
.clickable {
    cursor: pointer;
}
.vote {
    border: 2px grey solid;
    color: salmon;
}
.vote.True {
    color: lightgreen;
}
