
body {
    color: #DDDDDD;
}
body, input, textarea, button {
    background-color : #222222;
}
a {
    color: #91D2FA;
}
th {
    text-align: center;
}
.name-view {
    font-size: 18px;
    margin-top: 2px;
}
.col-header {
    border: 2px grey solid;
}
.clickable {
    cursor: pointer;
}
.vote {
    border: 2px #222222 solid;
    color: salmon;
    margin-top: 3px;
}
.vote.clickable {
    border: 2px grey solid;
}
.vote.True {
    color: lightgreen;
}
